<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="reusableComponents.ListenersImplementation" />
	</listeners>

	<test name="Item_Purchase_Test" preserve-order="true">
		<classes>
			<class name="runners.LoginRunner" />
			<class name="runners.AddToCartRunner" />
			<class name="runners.DeleteItemFromCartRunner" />
			<class name="runners.AddToCartPhonesRunner" />
			<class name="runners.PurcaseOrderRunner" />
		</classes>
	</test>
	
</suite> 
